<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Home</title>
</head>
<body>
 <h1> Welcome to Anime Random Recommender! </h1> 
 <p> Would you like a random anime to watch? </p>
 <form method="post" action=".">
     <p><input type="submit" value="Randomize" /></p>
 </form>
 <!-- <button type="button" value="POST">Randomize </button> -->
 <!-- <a href = '/random'> Randomize</a>  -->
</body>
</html>